<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- 配置连接池: -->
	<!-- 引入外部属性文件 -->
	<context:property-placeholder location="classpath:jdbc.properties"/>
	<!-- 配置C3P0连接池: -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driver}"/>
		<property name="jdbcUrl" value="${jdbc.url}"/>
		<property name="user" value="${jdbc.user}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean>

	<!-- Hibernate的相关信息 -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<!-- 注入连接池 -->
		<property name="dataSource" ref="dataSource"/>
		<!-- 配置Hibernate的其他的属性 -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.connection.autocommit">false</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<!-- 配置Hibernate的映射文件 -->
		<property name="mappingResources">
			<list>
				<value>com/book/shop/user/vo/User.hbm.xml</value>
				<value>com/book/shop/category/vo/Category.hbm.xml</value>
				<value>com/book/shop/book/vo/Book.hbm.xml</value>
				<value>com/book/shop/categorysecond/vo/CategorySecond.hbm.xml</value>
			</list>
		</property>
	</bean>

	<!-- 事务管理: -->
	<!-- 事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<!-- 开启注解事务 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>

	<!-- Action的配置 ===========================-->

	<!-- 首页访问的Action -->

	<bean id="indexAction" class="com.book.shop.index.action.IndexAction" scope="prototype">
		<property name="categoryService" ref="categoryService"></property>
		<property name="bookService" ref="bookService"></property>
	</bean>




	<!-- 用户模块的Action -->
	<bean id="userAction" class="com.book.shop.user.action.UserAction" scope="prototype">
		<!--注入Service-->
		<property name="userService" ref="userService"/>
	</bean>

	<!-- 图书模块的Action -->
	<bean id="bookAction" class="com.book.shop.book.action.BookAction" scope="prototype">
		<!--注入Service-->
		<property name="bookService" ref="bookService"/>
	</bean>

	<!-- 购物车模块的action -->
	<bean id="cartAction" class="com.book.shop.cart.action.CartAction" scope="prototype">
		<!--注入Service-->
		<property name="bookService" ref="bookService"/>
	</bean>

	<!-- Service的配置  ===========================-->
	<bean id="userService" class="com.book.shop.user.service.UserService">
		<property name="userDao" ref="userDao"/>
	</bean>

	<bean id="categoryService" class="com.book.shop.category.service.CategoryService">
		<property name="categoryDao" ref="categoryDao"/>
	</bean>

	<bean id="bookService" class="com.book.shop.book.service.BookService">
		<property name="bookDao" ref="bookDao"/>
	</bean>


	<!-- Dao的配置  ===========================-->
	<bean id="userDao" class="com.book.shop.user.dao.UserDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<bean id="categoryDao" class="com.book.shop.category.dao.CategoryDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<bean id="bookDao" class="com.book.shop.book.dao.BookDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
</beans>
